.catalog {
  position: absolute;
  transition: 0.7s;
  opacity: 0;
  top: 100%;
  left: 0;
  width: 100%;
  background: #f9fafb;
  z-index: 10000;
}
.catalog-enter-active {
  opacity: 1;
}

.catalog-enter-done {
  opacity: 1;
}

.catalog__container {
  padding: 25px 15px;
}

.catalog-body {
  display: grid;
  grid-template-columns: 350px 400px 300px;
  // display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @media (max-width: 1500px) {
    grid-template-columns: 1fr 1fr;
  }
}

.catalog-tabs {
  flex: 0 1 350px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.catalog-sub-tabs-wrapper {
  flex: 0 1 350px;
}

.catalog-sub-tabs {
  transition: 0.7s;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.catalog-sub-tabs-enter-active {
  opacity: 1;
}

.catalog-sub-tabs-enter-done {
  opacity: 1;
}

.catalog-sub-tabs-exit-active {
  display: none;
}

.catalog-sub-tabs-exit-done {
}

.catalog-links-wrapper {
  flex: 0 1 300px;
  @media (max-width: 1500px) {
    grid-column: 1/3;
    grid-row: 2/2;
  }
}

.catalog-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 15px;
  height: 100%;
  column-gap: 25px;
  transition: 0.7s;
  opacity: 0;
  @media (max-width: 1500px) {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // align-items: center;
  }
}

.catalog-links-enter-active {
  opacity: 1;
}

.catalog-links-enter-done {
  opacity: 1;
}

.catalog-links-exit-active {
  display: none;
}
.catalog-links__item {
  font-size: 16px;
  line-height: 156%;
}

.catalog-links__link {
  color: #26292d;
  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}
