.menu {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: 0.7s ease;
  overflow: auto;
}

.menu-enter-active {
  left: 0;
}

.menu-enter-done {
  left: 0;
}

.menu-exit-active {
  left: -100%;
}


.menu__container {
  padding: 0px 25px;
}
.menu-header {
  padding: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  color: #2e3032;
  font-size: 19px;
  font-weight: 700;
}
.menu__close {
  min-width: 25px;
  height: 25px;
  background: url(../../images/icons/blueCross.svg) center no-repeat;
  border-radius: 4px;
  background-color: #f2f6fc;
}
.menu-body {
}
