.custom-checkbox {
  min-width: 26px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #dfe0e2;
  background: #fff;
  transition: ease 0.7s;
}

.hidden-checkbox:checked + .custom-checkbox {
  background-color: var(--color-signature-blue);
}
