.header-menu {
}

.header-menu-exit-done {
}

.header-menu-nav {
}

.header-menu-list {
}

.header-menu-list__item {
  border-bottom: 1px solid #ebeef0;
  &:first-child {
    border-top: 1px solid #ebeef0;
  }
}

.header-menu-list__link {
  text-transform: uppercase;
  color: #2e3032;
  font-weight: 600;
  font-size: 13px;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  &:visited {
    font-weight: 600;
    color: #2e3032;
  }
}

.header-menu-order-call {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.header-menu-order-call__period {
  order: 2;
}

.header-menu-order-call__phone {
  order: 0;
}

.header-menu-order-call__button {
  order: 1;
}
