.header {
}
.header-top {
  border-bottom: 1px solid rgba(107, 112, 118, 0.2);
  .header-catalog-toggler {
    order: 1;
  }
}

.header-top__container {
  display: flex;
  align-items: center;
  gap: 25px;
  min-height: 55px;
}

.header-menu-toggler {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-menu-toggler__burger {
  position: relative;
  min-width: 25px;
  min-height: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  &.active {
    .header-menu-toggler__line {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
    .header-menu-toggler__line:first-child {
      rotate: 45deg;
    }

    .header-menu-toggler__line:last-child {
      rotate: -45deg;
    }

    .header-menu-toggler__line--active-hidden {
      opacity: 0;
    }
  }
}
.header-menu-toggler__line {
  width: 100%;
  min-height: 1px;
  background-color: black;
  border-radius: 8px;
  &:not(.header-menu-toggler__line--active-hidden) {
    transition: ease 0.5s;
  }
}

.header-menu-toggler__text {
}

.header-nav {
  @media (max-width: 1400px) {
    display: none;
  }
}
.header-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-list__item {
}
.header-list__link {
  color: #6c6f71;
  font-size: 14px;
  &:visited {
    color: #6c6f71;
  }
  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}
.header-order-call {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}
.header-order-call__period {
  white-space: nowrap;
  color: #4e5760;
  font-size: 13px;
}
.header-order-call__phone {
  white-space: nowrap;
  color: #000;
  font-size: 16px;
  font-weight: 550;
}
.header-order-call__button {
  color: #2a5e8d;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 150px;
  border-radius: 4px;
}

.header-main {
}

.header-main__container {
}

.header-main__floor-actions {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 0px;
  @media (max-width: 700px) {
    gap: 20px;
  }
}

.headar-logo {
}

.header-logo__img {
  max-width: 100%;
  min-width: 160px;
}

.header-main__floor-search {
  display: flex;
  align-items: center;
  gap: 15px;
  .header-search-form {
    flex: 1 1 auto;
  }
}

.header-catalog-toggler {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  border-radius: 8px;
  transition: ease 0.5s;
  color: #fff;
  background: var(--color-signature-blue);
  &.active {
    background: black;
    .header-catalog-toggler__line-1 {
      top: 50%;
      transform: translate(0, -50%);
      rotate: 45deg;
    }
    .header-catalog-toggler__line-2 {
      top: 50%;
      transform: translate(0, -50%);
      bottom: unset;
      rotate: -45deg;
    }
  }
  @media (max-width: 430px) {
    margin-left: auto;
  }
}

.header-catalog-toggler__lines {
  min-width: 18px;
  min-height: 6px;
  position: relative;
  * {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 1px;
    transition: ease 0.5s;
  }
}

.header-catalog-toggler__line-1 {
  top: 0;
}
.header-catalog-toggler__line-2 {
  bottom: 0;
}

.header-search-form {
  flex: 0 1 710px;
}
.header-search-form__input {
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  @media (max-width: 430px) {
    gap: 10px;
  }
}

.header-actions-item {
  width: 70px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  &[data-count] {
    &::after {
      content: attr(data-count);
      position: absolute;
      top: -3px;
      right: 13px;
      min-width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: var(--color-red);
      color: white;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 700px) {
    width: unset;
    &[data-count] {
      &::after {
        right: -4px;
      }
    }
  }
}

.header-actions-item__block-img {
}

.header-actions-item__img {
}

.header-actions-item__text {
  color: #6b7076;
  font-size: 14px;
  white-space: nowrap;
  @media (max-width: 700px) {
    display: none;
  }
}

