.button {
  width: 100%;
  display: block;
  border-radius: 8px;
  padding: 15px;
  max-width: 300px;
  transition: ease 0.5s;
  text-align: center;
}

.button--light {
  color: #117fe3;
  background: #f6f8fb;
  font-size: 15px;
  font-weight: 550;
  @media (any-hover: hover) {
    &:hover {
      background: #d7e7ff;
    }
  }
}

.button--blue {
  color: #fff;
  background: var(--color-signature-blue);
  font-size: 15px;
  font-weight: 500;
}
