@import "./scss/vars.scss";
@import "./scss/fonts";
@import "./scss/nullstyle";

[class*="__container"] {
  max-width: 1650px;
  padding: 0px 15px;
  margin: 0 auto;
}

body {
  font-family: var(--main-font);
}

h1 {
  font-size: clamp(30px, 5vw, 48px);
  font-weight: 700;
  line-height: 112.5%;
}

h2 {
  color: var(--color-soft-black);
  font-size: clamp(26px, 5vw, 33px);
  font-weight: 700;
  line-height: 93.939%;
}

h3 {
  color: var(--color-soft-black);
  font-size: 20px;
  font-weight: 500;
  line-height: 93.939%;
}

h4 {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 93.939%;
}

#menu-portal {
}

.arrow-back {
  display: flex;
  align-items: center;
  gap: 8px;
  &::before {
    content: "";
    width: 20px;
    height: 9px;
    background: url(./images/icons/arrow-back.svg) center / cover no-repeat;
  }
}

.req-star {
  color: red;
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}

.hidden-checkbox {
  position: absolute;
  visibility: hidden;
}

.checkbox-label__text {
  color: #696d70;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 161.538% */
}
