:root {
  --color-red: #ee0906;
  --color-signature-blue: #186fd4;
  --color-dark-blue: #012f91;
  --color-darker-blue: #003b73;
  --color-cyan: #bfe4fe;
  --colo-lighter-blue: #86bedf;
  --colo-light-blue: #459ad0;
  --color-black: #2b2a28;
  --color-soft-black: #2c333d;

  --main-font: "Helvetica Neue Cyr";
}
